<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>192563745998-lav2u2vobjl3j17j764h6aprekro3eab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192563745998-lav2u2vobjl3j17j764h6aprekro3eab</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>192563745998-7lmr92ihmkk2smt6ddaiu14e0tmvkop3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC4_KrVpQb0CBrvrGttFhPJAeP6C7LPLq4</string>
	<key>GCM_SENDER_ID</key>
	<string>192563745998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatDemo.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chatdemo-fa932</string>
	<key>STORAGE_BUCKET</key>
	<string>chatdemo-fa932.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192563745998:ios:ea5f5a8bdad8623df86c9f</string>
</dict>
</plist>